 # exclude everything except directory foo/bar
    
  
    /Drawing-Seeing-Moving-with-Code/docs*
    /Drawing-Seeing-Moving-with-Code/images*

    !/Drawing-Seeing-Moving-with-Code/code
     !/Drawing-Seeing-Moving-with-Code/students/nfeuer
